h2 {font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: darkviolet;}
#caption {font-style: italic;
color: rgb(16, 246, 120);}
.main,.footer {text-align: center;
background-color:rgb(0, 255, 255);
max-width: 500px;
margin: auto;}